<div class="ntd2dwrapper">
  <ul>
    <li class="ntd2d_latest"><a href="/ARIAC_docs/en/latest/index.html">latest</a></li>

    <li class="ntd2d_stable"><a href="/ARIAC_docs/en/stable/index.html">stable</a></li>

    <li class="ntd2d_2024.1.0"><a href="/ARIAC_docs/en/2024.1.0/index.html">2024.1.0</a></li>

    <li class="ntd2d_2023.5.0"><a href="/ARIAC_docs/en/2023.5.0/index.html">2023.5.0</a></li>

  </ul>
  <ul>
    <li class="ntd2d_anthonydowns-patch-1"><a href="/ARIAC_docs/en/anthonydowns-patch-1/index.html">anthonydowns-patch-1</a></li>

    <li class="ntd2d_main"><a href="/ARIAC_docs/en/main/index.html">main</a></li>

  </ul>
</div>
