
.wy-nav-content {
    max-width: 1000px !important;
    background: #ffffff;
}

.inline-file {
    color: #082e9f !important;
    font-style: italic;
    background-color: #fbfbfb !important;
}

.inline-tutorial {
    color: #0d7b1a !important;
    font-weight: bold;
    background-color: #fbfbfb !important;
}

.emphasize-lines {
    background-color: #f9a04d !important;
}

button.copybtn {
   color: rgb(20, 139, 236);
}

.topic {
    color: #0397b1 !important;
    font-weight: bold;
}

.rosservice {
    color: #055c05 !important;
    font-weight: bold;
}

.yamlname {
    color: #204a87 !important;
    font-weight: bold;
}

.tutorial {
    color: #8b089c !important;
    font-weight: bold;
}

.tf {
    color: #ff7b00 !important;
    font-weight: bold;
}

.msg {
    color: #535353 !important;
    font-weight: bold;
}

/* override table no-wrap */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}